<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>


body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="sidebar">
    <a class="active" href="#home">Home</a>
    <a href="#">Posts only</a>
    <a href="/category">Categories Only</a>
</div>

<div class="content">
    <div class="jumbotron  text-center">
        <center></center><h3>Main Page</h3>
    </div>

    <p>
        <button type="button" class="btn btn-success">    <a href="/posts/new">Create new post</a> </button>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-success"><a href="/category/new">Create new category</a></button>
    </p>
    Categories are:-<br>
    {{#each o}}
        <a href="/categories/{{this.id}}?page=1"><strong>{{this.name}}</strong></a>  &nbsp;&nbsp;&nbsp;   <a href="/delete_category/{{this.id}}">Delete</a> &nbsp;   <a href="/category/{{this.id}}/edit">Update </a></p>
    {{/each}}


        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col" >Description</th>
                        <th scope="col">Option</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{#each  tiger}}

                       <td> <a href="/posts/{{this.id}}"> {{this.title}}</td>

                    <td> <a href="/posts/{{this.id}}"> {{this.description}}</td>
                       <td> <a href="/delete_post/{{this.id}}"> Delete  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     </a>
                       <a href="/posts/{{this.id}}/edit"> update </a>
                       </td>
                           <td {{this.id}}>{{this.id}}</td>
                    </a>
                    </tr>
                   {{/each}}

                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
    {{#each pages_count }}
                        <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
    {{/each}}
                    </ul>
                </nav>

            </div>
        </div>





    </ul>

</a>
    </p>



<!--    <div class="pagination_logic">-->
<!--        {{!--#each pages_count }}-->
<!--            <a href="?page={{this}}">{{this}}</a>-->
<!--        {{/each--}}-->
<!--    </div>-->

</div>
</p>

</body>
</html>

