<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>


body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
function get_value() {
  var x = document.getElementById("cat").value;
  alert(x);
}

</script>
</head>
<body>

<div class="sidebar">
    <a class="active" href="#home">Home</a>

</div>

<div class="content">
    <a href="/login">Login</a>     <a href="/register">Register</a>
    <p>&nbsp;</p><br>

    <select name="category" id="category" onchange="get_value()">
        {{#each o}}
            <option id="cat" value="{{this}}">{{this.name}}</option>
        {{/each}}
    </select>


<p class="listing category">
    Categories are:<br>


    {{#each o}}
        <a href="/categories/{{this.id}}?page=1"><strong>{{this.name}}</strong></a> </p>
    {{/each}}
    </p>

    <div class="row">
        <div class="col-12">
            <table class="table table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col" >Description</th>

                </tr>
                </thead>
                <tbody>

                {{#each  tiger}}

                    <td> <a href="/posts/{{this.id}}"> {{this.title}}</td>

                    <td> <a href="/posts/{{this.id}}"> {{this.description}}</td>

                    </a>
                    </tr>
                {{/each}}

                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{#each pages_count }}
                        <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </nav>

        </div>
    </div>


    <!--<p class="listing category">-->
    <!--    {{!--#each o}}-->
<!--        <a href="/categories/{{this}}"><li>{{this}}</a>      <a href="/delete_category/{{this}}">Delete</a></p>-->
<!--    {{/each--}}-->
    <!--    </p>-->

    <!--    <p>-->
    <!--        {{!--#each tiger}}-->
<!--        <a href="/posts/{{this.title}}">-->
<!--            {{#each this}}  " "-->
<!--                {{ this }}-->
<!--            {{/each}}"   "<a href="/delete_post/{{this.title}}">Delete </a> "    "<a href="/posts/{{this.title}}/edit">update</a> <br>-->
<!--        {{/each--}}</a>-->
    <!--    <P>-->
    <!--    <ul>-->



    </ul>


        {{!--#each a}}
        <a href="/posts/{{this.title}}">
            {{#each this}}  " "
                {{ this }}
            {{/each}}<br>
        {{/each--}}</a>
    </p>



    <!--    <div class="pagination_logic">-->
    <!--        {{!--#each pages_count }}-->
<!--            <a href="?page={{this}}">{{this}}</a>-->
<!--        {{/each--}}-->
    <!--    </div>-->

</div>
<!--<div class="pagination_section">-->

<!--    <a href="?page=1&limit=1">1</a>-->
<!--    <a href="?page=2&limit=1">2</a>-->
<!--    <a href="?page=3&limit=1">3</a>-->
<!--    <a href="?page=4&limit=1">4</a>-->
<!--    <a href="?page=5&limit=1">5</a>-->

<!--</div>-->
</p>

</body>
</html>

